<%= nested_form_for(@robot) do |f| %>
  <% if @robot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@robot.errors.count, "error") %> prohibited this robot from being saved:</h2>

      <ul>
      <% @robot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code_name_id %><br>
    <%= f.collection_select :code_name_id, CodeName.order(:name),:id,:name, include_blank: 'Create New' %>
  </div>

    <div class="field">
      <label for="code_name_name">Name</label>
      <input id="code_name_name" name="code_name_name" type="text" />
    </div>
    <div class="field">
      <label for="code_name_reference">Reference</label>
      <input id="code_name_reference" name="code_name_reference" type="text" />
    </div>
    <div class="field">
      <label for="code_name_damage">Damage</label>
      <input id="code_name_damage" name="code_name_damage" type="number" />
    </div>

    <h3>Health</h3>

  <%= render "application/shared/health_form", f: f %>

  <%= f.fields_for :robot_weapons do |robot_weapon_form| %>
    <%= render "application/shared/robot_weapon_form", f: robot_weapon_form %>
  <% end %>
  <p><%= f.link_to_add "Add a Weapon", :robot_weapons %></p>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
