<%= nested_form_for(@robot) do |f| %>
  <% if @robot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@robot.errors.count, "error") %> prohibited this robot from being saved:</h2>

      <ul>
      <% @robot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field", id="code_name_id_select">
    <%= f.label :code_name_id, "Code Name" %><br>
    <%= f.select :code_name_id, options_from_collection_for_select(CodeName.all, "id", "name") %>
  </div>

  <%= f.fields_for :code_name do |code_name_form| %>
    <%= render "application/shared/code_name_form", f: code_name_form %>
  <% end %>
  <p><%= f.link_to_add "Add a Code Name", :code_name, id:"code_name_link" %></p>
  
  <%= f.fields_for :robot_weapons do |robot_weapon_form| %>
    <%= render "application/shared/robot_weapon_form", f: robot_weapon_form %>
  <% end %>
  <p><%= f.link_to_add "Add a Weapon", :robot_weapons %></p>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
