<div class="field_container", id="code_name_fields_form">
  New Code Name:
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :info_reference %><br>
    <%= f.text_field :info_reference %>
  </div>
  <div class="field">
    <%= f.label :damage %><br>
    <%= f.number_field :damage %>
  </div>
    <div class="field">
    <%= f.label :max_health, 'Maximum Health' %><br>
    <%= f.number_field :max_health %>
  </div>
</div>